<div class="container my-5">
  <ng-container *ngIf="team$ | async as team">
    <div class="row">
      <div class="col-sm-3 mb-2">
        <img
          class="img-fluid img-thumbnail"
          [src]="team.logoUrl"
          [alt]="team.name"
          [title]="team.name"
        />
      </div>
      <div class="col-sm-9 mb-2">
        <h1 class="fw-light">{{ team.name }}</h1>
        <div class="mb-1">
          <span class="fw-bold">{{ "team.FOUNDED" | translate }}</span
          >: {{ team.founded }}
        </div>
        <div class="mb-2">
          <span class="fw-bold">{{ "team.COUNTRY" | translate }}</span
          >:
          <img
            [src]="team.country.flagUrl"
            [alt]="team.country"
            [title]="team.country"
            width="28"
            height="21" />
          {{ team.countryName }}
        </div>
        <div class="mb-1">
          <span class="fw-bold">{{ "team.CITY" | translate }}</span>: {{ team.cityName }}
        </div>
        <div class="mb-1">
          <span class="fw-bold">{{ "team.STADIUM" | translate }}</span>: {{ team.stadium.name }}
        </div>
        <div class="mb-1">
          <span class="fw-bold">{{ "team.CAPACITY" | translate }}</span>: {{ team.stadium.capacity | number: "2." }}
        </div>
        <div class="mb-1">
          <button type="button" (click)="goBack()" class="btn btn-link">{{ "back" | translate }}</button>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="data$ | async as data">
    <div class="row">
      <div class="col-sm-3 mb-2">
        {{ "team.WEBSITE" | translate }}:
      </div>
      <div class="col-sm-9 mb-2">
        <a [href]="data.website" target="_blank">{{ data.website }}</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 mb-2">
        {{ "team.RATING" | translate }}:
      </div>
      <div class="col-sm-9 mb-2">
        <span class="badge bg-primary">{{ data.rating }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 mb-2">
        {{ "team.IS_UCL_WINNER" | translate }}:
      </div>
      <div class="col-sm-9 mb-2">
        <input type="checkbox" class="form-check-input" value="" id="flexCheckDisabled"
          disabled [checked]="data.isUCLWinner" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 mb-2">
        {{ "team.COACH" | translate }}:
      </div>
      <div class="col-sm-9 mb-2">
        {{data.coach}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 mb-2">
        {{ "team.PLAYERS" | translate }}:
      </div>
      <div class="col-sm-9 mb-2">
        <table class="table table-bordered" *ngIf="data.players">
          <thead>
            <tr>
             <td>#</td>
             <td>{{ "catalogue.NAME" | translate }}</td>
             <td>{{ "catalogue.POSITION" | translate }}</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of data.players; let i=index">
              <td>{{ i + 1 }}</td>
              <td>{{ player.name }}</td>
              <td>{{ "catalogue." + player.position | translate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 mb-2">

      </div>
      <div class="col-sm-9 mb-2">
        <button type="button" class="btn btn-sm btn-danger" (click)="deleteTeam()">
          {{ "catalogue.DELETE" | translate }}
        </button>
      </div>
    </div>
  </ng-container>
</div>











